version: '3.9'

services:
  mariadb:
    image: mariadb:11.4
    container_name: sentinel-mariadb
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=sentinel
      - MYSQL_DATABASE=sentinel
      - TZ=UTC
    ports:
      - '3306:3306'
    volumes:
      - mariadb_data:/var/lib/mysql

  zookeeper:
    image: bitnami/zookeeper:3.9
    container_name: sentinel-zookeeper
    restart: unless-stopped
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - '2181:2181'

  kafka:
    image: bitnami/kafka:3.7
    container_name: sentinel-kafka
    restart: unless-stopped
    depends_on:
      - zookeeper
    ports:
      - '9092:9092'
      - '29092:29092'
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,PLAINTEXT_HOST://:29092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true

volumes:
  mariadb_data:
